html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: Helvetica, Verdana, Geneva, sans-serif;
}

:root {
  --cherry: #E32651;
  --titleHeight: 200px;
  --titleFontSize: 50px;
  --transitCommon: 0.3s all;
  --transitCarousel: 2s all;
}
