html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, Verdana, Geneva, sans-serif;
}

/*....................................................................................................................*/
/* IMAGES */

#logo {background-image: url("../images/logo.png")}
#btnSocial0 {background-image: url("../images/linkedin.png")}
#btnSocial1 {background-image: url("../images/facebook.png")}
#btnSocial2 {background-image: url("../images/instagram.png")}

#imgCrslFrm0 {background-image: url("../images/carousel0.jpg")}
#imgCrslFrm1 {background-image: url("../images/carousel1.jpg")}
#imgCrslFrm2 {background-image: url("../images/carousel2.jpg")}
#imgCrslFrm3 {background-image: url("../images/carousel3.jpg")}
#imgCrslFrm4 {background-image: url("../images/carousel4.jpg")}

#dog {background-image: url("../images/dog.jpg")}
#signupImage {background-image: url("../images/email.png")}

#phoneIcon {background-image: url("../images/phone.png")}
#whatsappIcon {background-image: url("../images/whatsapp.png")}

/*....................................................................................................................*/
/* ID */

#vignette {
  width: 100%;
  height: 670px;
  position: absolute;
  box-shadow: 0px -80px 200px 50px inset;
}
#imageCarousel {
  height: 670px;
  overflow: hidden;
  display: flex;
}
#textCarousel {
  width: 100%;
  height: 280px;
  transform: translateY(-330px);
  overflow: hidden;
  display: flex;
}
#footer {
  width: 100%;
  color: white;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*....................................................................................................................*/
/* CLASS */

.btn {
  cursor: pointer;
  transition: all 0.2s;
}
.imgCrslBox {
  justify-content: center;
}
.txtCrslBox {
  justify-content: flex-end;
  align-items: flex-end;
}
.imgCrslBox, .txtCrslBox {
  min-width: 80%;
  height: 100%;
  transition: all 2s;
  display: flex;
}
.imgCrslFrm {
  width: 80%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 40px 0 40px 0;
}
.txtCrslFrm {
  width: 40%;
  background: #FF004A;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px 0 40px;
  border-radius: 40px 0 40px 0;
}
.footerInner {
  padding: 0 5vw 0 5vw;
}
