html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: default;
  font-family: Montserrat, Helvetica, Verdana, Geneva, sans-serif;
}

:root {
  --diva-pink: #FF1659;
  --titleHeight: 20vh;
  --titleFontSize: 50px;
  --transitCommon: 0.3s all;
  --transitCarousel: 2s all;
  --radiusPortrait: 50px;
  --radiusLandscape: 40px;
}
