@media screen and (orientation: landscape)
{
  /*..................................................................................................................*/
  /* TOP */

  /*..................................................................................................................*/
  /* HEADER */

  #header {
    width: 100%;
    height: 10%;
    display: flex;
  }
  #logo {
    width: 230px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
  }
  #menu {
    width: calc(100% - 450px); /* 450px = #logo:230px + #social:220px */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #social {
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .menuSpace {
    margin-left: 1vw;
    margin-right: 1vw;
    cursor: default;
  }
  .btnMenu {
    height: 100%;
    font-size: 21px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    transition: var(--transitCommon);
    cursor: pointer;
  }
  .btnMenu:hover {
    color: var(--cherry);
  }
  .btnMenuUnder {
    width: 0;
    height: 3px;
    background: var(--cherry);
    transition: var(--transitCommon);
  }
  .btnMenu:hover .btnMenuUnder {
    width: 50%;
  }
  .btnSocial {
    width: 20%;
    height: 100%;
    opacity: 0.5;
    margin: 0 10px 0 10px;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    transition: var(--transitCommon);
    cursor: pointer;
  }
  .btnSocial:hover {
    opacity: 1;
    background-size: 100%;
  }

  /*..................................................................................................................*/
  /* CAROUSEL */

  #vignette {
    width: 100%;
    height: calc(100% - 10%); /* #header:10% */
    box-shadow: 0px -80px 200px 50px inset;
    position: absolute;
  }
  #imageCarousel {
    width: 100%;
    height: calc(100% - 10%); /* #header:10% */
    display: flex;
    overflow: hidden;
  }
  #textCarousel {
    width: 100%;
    height: 280px;
    display: flex;
    overflow: hidden;
    position: absolute;
    font-size: 35px;
    transform: translateY(-300px);
  }
  .imgCrslBox {
    justify-content: center;
  }
  .txtCrslBox {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .imgCrslBox,
  .txtCrslBox {
    min-width: 80%;
    height: 100%;
    transition: var(--transitCarousel);
    display: flex;
  }
  .imgCrslFrm {
    width: 80%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 40px 0 40px 0;
  }
  .txtCrslFrm {
    width: 40%;
    height: 100%;
    background: var(--cherry);
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px 0 40px;
    border-radius: 40px 0 40px 0;
  }

  /*..................................................................................................................*/
  /* IMAGES */

  #logo {background-image: url("../images/logo.png")}
  #btnSocial0 {background-image: url("../images/linkedin.png")}
  #btnSocial1 {background-image: url("../images/facebook.png")}
  #btnSocial2 {background-image: url("../images/instagram.png")}

  #imgCrslFrm0 {background-image: url("../images/carousel0.jpg")}
  #imgCrslFrm1 {background-image: url("../images/carousel1.jpg")}
  #imgCrslFrm2 {background-image: url("../images/carousel2.jpg")}
  #imgCrslFrm3 {background-image: url("../images/carousel3.jpg")}
  #imgCrslFrm4 {background-image: url("../images/carousel4.jpg")}

  #about {background-image: url("../images/aboutBack.png")}

  #accordion {background-image: url("../images/accordionBack.jpg")}
  #accordionPart0 {background-image: url("../images/accordion0.jpg")}
  #accordionPart1 {background-image: url("../images/accordion1.jpg")}
  #accordionPart2 {background-image: url("../images/accordion2.jpg")}
  #accordionPart3 {background-image: url("../images/accordion3.jpg")}
  #accordionPart4 {background-image: url("../images/accordion4.jpg")}
  #accordionPart5 {background-image: url("../images/accordion5.jpg")}
  #accordionPart6 {background-image: url("../images/accordion6.jpg")}
  #accordionPart7 {background-image: url("../images/accordion7.jpg")}

  #industry {background-image: url("../images/industryBack.jpg")}
  #indCrslFrm0 {background-image: url("../images/industry0.jpg")}
  #indCrslFrm1 {background-image: url("../images/industry1.jpg")}
  #indCrslFrm2 {background-image: url("../images/industry2.jpg")}
  #indCrslFrm3 {background-image: url("../images/industry3.jpg")}

  #clients {background-image: url("../images/clientBack.jpg")}
  #client0 {background-image: url("../images/client0.jpg")}
  #client1 {background-image: url("../images/client1.jpg")}
  #client2 {background-image: url("../images/client2.jpg")}
  #client3 {background-image: url("../images/client3.jpg")}
  #client4 {background-image: url("../images/client4.jpg")}
  #client5 {background-image: url("../images/client5.jpg")}
  #client6 {background-image: url("../images/client6.jpg")}
  #client7 {background-image: url("../images/client7.jpg")}
  #client8 {background-image: url("../images/client8.jpg")}
  #client0Logo {background-image: url("../images/client0Logo.png")}
  #client1Logo {background-image: url("../images/client1Logo.png")}
  #client2Logo {background-image: url("../images/client2Logo.png")}
  #client3Logo {background-image: url("../images/client3Logo.png")}
  #client4Logo {background-image: url("../images/client4Logo.png")}
  #client5Logo {background-image: url("../images/client5Logo.png")}
  #client6Logo {background-image: url("../images/client6Logo.png")}
  #client7Logo {background-image: url("../images/client7Logo.png")}
  #client8Logo {background-image: url("../images/client8Logo.png")}

  #phoneIcon {background-image: url("../images/phone.png")}
  #whatsappIcon {background-image: url("../images/whatsapp.png")}

  #dog {background-image: url("../images/dog.jpg")}
  #signupImage {background-image: url("../images/email.png")}
}
