@media screen and (orientation: landscape)
{
  /*..................................................................................................................*/
  /* ID */

  #header {
    width: 100%;
    height: 100px;
    display: flex;
  }
  #logo {
    height: 100%;
    width: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    margin-left: 40px;
  }
  #menu {
    width: calc(100% - 450px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 21px;
  }
  #social {
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
  }

  /*..................................................................................................................*/
  /* CLASS */

  .menuSpace {
    margin-left: 10px;
    margin-right: 10px;
    cursor: default;
  }
  .btnMenu {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .btnMenu:hover {
    color: #E32651;
    transform: translateY(-2px);
    text-shadow: 0px 2px 1px #DDD;
  }
  .btnSocial {
    width: 40px;
    height: 100px;
    opacity: 0.5;
    margin-left: 10px;
    margin-right: 10px;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btnSocial:hover {
    opacity: 1;
    background-size: 100%;
  }

  /*..................................................................................................................*/
  /* CAROUSEL */

  #vignette, #imageCarousel {height: calc(100% - 100px)}

  .txtCrslFrm {
    font-size: 50px;
    height: 100%;
  }

  /*..................................................................................................................*/
  /* CLIENTS */

  #clients {
    height: 120vw;
    background-attachment: fixed;
  }
  #clientBox {
    width: 61vw;
    height: 81.5vw;
    background: white;
    border-radius: 40px 0 0 0;
  }
  #clientTitle {
    font-size: 4vw;
    width: 61vw;
  }
  #client1, #client2, #client4, #client5, #client7, #client8 {margin-left: 0.5vw}
  #client0, #client1, #client2, #client3, #client4, #client5, #client6, #client7, #client8 {margin-top: 0.5vw}

  .client {
    width: 20vw;
    height: 20vw;
  }
  .clientLogoBox .clientName {opacity: 0}
  .clientLogoBox:hover {background: rgba(0,0,0,0)}
  .clientLogoBox:hover .clientLogo {opacity: 0}
  .clientLogoBox:hover .clientName {
    opacity: 1;
    width: 20vw;
  }
  .clientName {
    width: 0vw;
    height: 3vw;
    font-size: 2vw;
    transform: translateY(8.5vw);
  }

  /*..................................................................................................................*/
  /* CONTACT */

  #contact {
    background: #FF004A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contactBox {
    width: 800px;
    height: 500px;
    background: #FE80A5;
    border-radius: 40px 0 40px 0;
  }
  #contactTitleBox {
    width: 100%;
    height: 75%;
  }
  #contactTitleLeft {
    width: 300px;
    height: 300px;
    background: darkorange;
    border-radius: 40px 0 40px 0;
    box-sizing: border-box;
    border-right: 5px solid #FF004A;
    border-bottom: 5px solid #FF004A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
  }
  #contactInfoBox {
    width: 100%;
    height: 25%;
  }
  #contactRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #contactTitleRight {
    font-size: 40px;
    margin: 15px 15px 20px 0 ;
    text-align: right;
  }
  #contactMessage {
    height: 160px;
    word-wrap: all;
    resize: none;
    font-family: Helvetica, Verdana, Geneva, sans-serif;
  }
  #contactName {
    border-radius: 30px 0 0 0;
  }
  #contactSend {
    width: 387px;
    height: 50px;
    color: #FE80A5;
    font-size: 20px;
    font-weight: bold;
    background: #FFDDEE;
    margin-top: 5px;
    border-radius: 0 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contactSend:hover {
    background: white;
  }

  .contactSide {
    width: 50%;
    height: 100%;
    float: left;
  }
  .contactInfo {
    color: white;
    font-size: 18px;
    margin-left: 20px;
  }
  .phoneImage {
    width: 20px;
    height: 20px;
    background-size: contain;
    float: left;
    margin-right: 15px;
  }
  .contactMinor {
    height: 20px;
    text-align: right;
  }
  .contactRightBox {
    width: 363px;
    border: 2px solid white;
    margin-bottom: 5px;
    background: rgba(0,0,0,0);
    color: white;
    font-size: 20px;
    padding: 10px;
  }

  /*..................................................................................................................*/
  /* NEWSLETTER */

  #newsletter {height: calc(100% - 100px)}
  #dog {
    width: 50%;
    height: 100%;
    margin-right: 5vw;
    background-position: right;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
  #signup {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  #signupTitle {
    font-size: 60px;
    font-weight: bold;
  }
  #signupSubtitle {
    font-size: 30px;
  }
  #signupEmail {
    width: 420px;
    height: 70px;
    font-size: 30px;
    border-radius: 20px 0 0 0;
    border: 0;
    margin-top: 100px;
    padding: 0 20px 0 20px;
    transition: all 0.2s;
  }
  #signupConfirm {
    width: 420px;
    height: 70px;
    font-size: 30px;
    border-radius: 0 0 20px 0;
    color: black;
    display: flex;
    align-items: center;
    background: darkorange;
    padding: 0 20px 0 20px;
  }
  #signupConfirm:hover {
    background: orange;
  }
  #signupImage {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 180px;
  }

  /*..................................................................................................................*/
  /* FOOTER */

  #footer {height: 100px}
}
