@media screen and (orientation: landscape)
{
  /*..................................................................................................................*/
  /* ID */

  #header {
    width: 100%;
    height: 100px;
    display: flex;
  }
  #logo {
    height: 100%;
    width: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    margin-left: 40px;
  }
  #menu {
    width: calc(100% - 450px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 21px;
  }
  #social {
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
  }

  /*..................................................................................................................*/
  /* CLASS */

  .menuSpace {
    margin-left: 10px;
    margin-right: 10px;
    cursor: default;
  }
  .btnMenu {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .btnMenu:hover {
    color: #E32651;
    transform: translateY(-5px);
    text-shadow: 0px 5px 1px #DDD;
  }
  .btnSocial {
    width: 40px;
    height: 100px;
    opacity: 0.5;
    margin-left: 10px;
    margin-right: 10px;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .btnSocial:hover {
    opacity: 1;
    background-size: 100%;
  }

  /*..................................................................................................................*/
  /* CAROUSEL */

  .txtCrslFrm {
    font-size: 50px;
    height: 100%;
  }

  /*..................................................................................................................*/
  /* ACCORDION */

  #accordion {
    width: 100%;
    height: 1200px;
    background-size: cover;
    background-attachment: fixed;
  }

  /*..................................................................................................................*/
  /* CLIENTS */

  #client {
    width: 100%;
    height: 1200px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    margin: 0.5vw 0 0.5vw 0;
  }
  #clientBox {
    width: 61vw;
    height: 40.5vw;
    background: white;
    border-radius: 40px 0 0 0;
  }
  #clientTitle {
    background: darkorange;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    color: white;
    border-radius: 40px 0 0 0;
  }
  #client0, #client1, #client3, #client4 {
    margin-left: 0.5vw;
  }
  #client2, #client3, #client4 {
    margin-top: 0.5vw;
  }

  .client {
    width: 20vw;
    height: 20vw;
    float: left;
    background-size: cover;
    background-position: center;
  }
  .clientLogoBox {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    transition: 0.2s all;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .clientLogoBox .clientName {
    opacity: 0;
  }
  .clientLogoBox:hover {
    background: rgba(0,0,0,0);
  }
  .clientLogoBox:hover .clientLogo {
    opacity: 0;
  }
  .clientLogoBox:hover .clientName {
    opacity: 1;
    width: 20vw;
  }
  .clientLogo {
    width: 100%;
    height: 100%;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
  }
  .clientName {
    width: 0vw;
    height: 3vw;
    background: darkorange;
    font-size: 2vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all;
    position: absolute;
    margin-top: 17vw;
  }

  /*..................................................................................................................*/
  /* CONTACT */

  #contact {
    width: 100%;
    height: 1200px;
    background: #FF004A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  #contactBox {
    width: 800px;
    height: 500px;
    background: #FE80A5;
    border-radius: 40px 0 40px 0;
  }
  #contactTitleBox {
    width: 100%;
    height: 75%;
  }
  #contactTitleLeft {
    width: 300px;
    height: 300px;
    background: darkorange;
    border-radius: 40px 0 40px 0;
    box-sizing: border-box;
    border-right: 5px solid #FF004A;
    border-bottom: 5px solid #FF004A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
  }
  #contactInfoBox {
    width: 100%;
    height: 25%;
  }
  #contactRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #contactTitleRight {
    font-size: 40px;
    margin: 15px 15px 20px 0 ;
    text-align: right;
  }
  #contactMessage {
    height: 160px;
    word-wrap: all;
    resize: none;
    font-family: Helvetica, Verdana, Geneva, sans-serif;
  }
  #contactName {
    border-radius: 30px 0 0 0;
  }
  #contactSend {
    width: 387px;
    height: 50px;
    color: #FE80A5;
    font-size: 20px;
    font-weight: bold;
    background: #FFDDEE;
    margin-top: 5px;
    border-radius: 0 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contactSend:hover {
    background: white;
  }

  .contactSide {
    width: 50%;
    height: 100%;
    float: left;
  }
  .contactInfo {
    color: white;
    font-size: 18px;
    margin-left: 20px;
  }
  .phoneImage {
    width: 20px;
    height: 20px;
    background-size: contain;
    float: left;
    margin-right: 15px;
  }
  .contactMinor {
    height: 20px;
    text-align: right;
  }
  .contactRightBox {
    width: 363px;
    border: 2px solid white;
    margin-bottom: 5px;
    background: rgba(0,0,0,0);
    color: white;
    font-size: 20px;
    padding: 10px;
  }

  /*..................................................................................................................*/
  /* NEWSLETTER */

  #newsletter {
    width: 100%;
    height: 900px;
    background: #FF004A;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #dog {
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #signup {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  #signupTitle {
    font-size: 60px;
    font-weight: bold;
  }
  #signupSubtitle {
    font-size: 30px;
  }
  #signupEmail {
    width: 420px;
    height: 70px;
    font-size: 30px;
    border-radius: 20px 0 0 0;
    border: 0;
    margin-top: 100px;
    padding: 0 20px 0 20px;
    transition: all 0.2s;
  }
  #signupConfirm {
    width: 420px;
    height: 70px;
    font-size: 30px;
    border-radius: 0 0 20px 0;
    color: black;
    display: flex;
    align-items: center;
    background: darkorange;
    padding: 0 20px 0 20px;
  }
  #signupConfirm:hover {
    background: orange;
  }
  #signupImage {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 180px;
  }

  /*..................................................................................................................*/
  /* FOOTER */

  #footer {height: 100px}
}
