@media screen and (orientation: portrait)
{
  /*..................................................................................................................*/
  /* HEADER */

  #header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #logo {
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 300px;
  }
  #menu {
    width: 100%;
    font-size: 50px;
  }
  #social {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
  }
  #btnMenu0, #btnMenu2, #btnMenu4, #btnMenu6 {
    border-left: 0;
    border-radius: 0 10px 10px 0;
  }
  #btnMenu1, #btnMenu3, #btnMenu5, #btnMenu7 {
    border-right: 0;
    border-radius: 10px 0 0 10px;
  }

  .menuSpace {
    display: none;
  }
  .btnMenu {
    width: 50%;
    height: 80px;
    background: #E32651;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    border: 5px solid white;
    box-sizing: border-box;
  }
  .btnSocial {
    width: 80px;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
  }

  /*..................................................................................................................*/
  /* CAROUSEL */

  #vignette, #imageCarousel {height: calc(100% - 590px)}
  #textCarousel {
    width: 100%;
    height: 200px;
    transform: translateY(-210px);
    overflow: hidden;
    display: flex;
    position: absolute;
  }

  .txtCrslFrm {
    font-size: 25px;
    height: 70%;
  }

  /*..................................................................................................................*/
  /* CLIENTS */

  #clients {
    height: 200vw;
  }
  #clientBox {
    width: 60.5vw;
    height: 152vw;
    background: white;
    border-radius: 40px 0 0 0;
  }
  #clientTitle {font-size: 4.5vw}
  #client0, #client2, #client4, #client6, #client8 {margin-left: 0.5vw}
  #client1, #client2, #client3, #client4, #client5, #client6, #client7, #client8 {margin-top: 0.5vw}

  .client {
    width: 30vw;
    height: 30vw;
  }
  .clientName {display: none}


  /*..................................................................................................................*/
  /* CONTACT */

  #contact {
    background: #FF004A;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  #contactBox {
    width: 500px;
    height: 800px;
    background: #FE80A5;
    border-radius: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
  }
  #contactTitleBox {
    width: 100%;
    height: 55%;
  }
  #contactTitleLeft {
    width: 100%;
    height: 180px;
    background: darkorange;
    border-radius: 20px 0 0 0;
    box-sizing: border-box;
    border-bottom: 5px solid #FF004A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 50px;
  }
  #contactInfoBox {
    width: 100%;
    height: 45%;
  }
  #address {
    margin-left: 20px;
  }
  #contactLeft {
    height: 45%;
  }
  #contactRight {
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #contactTitleRight {
    font-size: 30px;
    margin: 0 15px 20px 0 ;
    text-align: right;
    font-weight: bold;
  }
  #contactMessage {
    height: 140px;
    word-wrap: all;
    resize: none;
    font-family: Helvetica, Verdana, Geneva, sans-serif;
  }
  #contactName {
    border-radius: 20px 0 0 0;
  }
  #contactSend {
    width: 472px;
    height: 50px;
    color: #FE80A5;
    font-size: 20px;
    font-weight: bold;
    background: #FFDDEE;
    margin: 5px 0 0 15px;
    border-radius: 0 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contactSend:hover {
    background: white;
  }

  .contactSide {
    width: 100%;
  }
  .contactInfo {
    color: white;
    font-size: 25px;
    margin-left: 10px;
  }
  .phoneImage {
    width: 30px;
    height: 30px;
    background-size: contain;
    margin: 0 15px 0 10px;
  }
  .phoneBox {
    display: flex;
  }
  .contactMinor {
    height: 15px;
    text-align: right;
  }
  .contactRightBox {
    margin-left: 15px;
    width: 447px;
    border: 2px solid white;
    margin-bottom: 5px;
    background: rgba(0,0,0,0);
    color: white;
    font-size: 20px;
    padding: 10px;
  }

  /*..................................................................................................................*/
  /* NEWSLETTER */

  #newsletter {height: calc(100% - 150px)}
  #dog {
    height: 100%;
    width: 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 30px;
  }
  #signup {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  #signupTitle {
    font-size: 40px;
    font-weight: bold;
  }
  #signupSubtitle {
    font-size: 25px;
  }
  #signupEmail {
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 20px 0 0 0;
    border: 0;
    margin-top: 50px;
    padding: 0 10px 0 10px;
    transition: all 0.2s;
  }
  #signupConfirm {
    width: 300px;
    height: 50px;
    font-size: 20px;
    border-radius: 0 0 20px 0;
    color: black;
    display: flex;
    align-items: center;
    background: darkorange;
    padding: 0 10px 0 10px;
  }
  #signupConfirm:hover {
    background: orange;
  }
  #signupImage {
    width: 45px;
    height: 55px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 135px;
  }

  /*..................................................................................................................*/
  /* FOOTER */

  #footer {height: 150px}
  .footerInner {font-size: 25px}
}
