@media screen and (orientation: portrait)
{
  /*..................................................................................................................*/
  /* TOP */

  #top {
    width: 100%;
    height: 0;
    position: absolute;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    font-size: 0;
    transition: var(--transitCommon);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  #topArrow {
    width: 40px;
    height: 40px;
    border: 20px solid white;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) white rgba(0,0,0,0);
    box-sizing: border-box;
  }

  /*..................................................................................................................*/
  /* HEADER */

  #header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #logo {
    width: 100%;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  #menu {
    width: 100%;
  }
  #social {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #btnMenu0,
  #btnMenu2,
  #btnMenu4,
  #btnMenu6 {
    border-left: 0;
    border-radius: 0 var(--radiusPortrait) var(--radiusPortrait) 0;
  }
  #btnMenu1,
  #btnMenu3,
  #btnMenu5,
  #btnMenu7 {
    border-right: 0;
    border-radius: var(--radiusPortrait) 0 0 var(--radiusPortrait);
  }
  .menuSpace {
    display: none;
  }
  .btnMenu {
    width: 50%;
    height: 80px;
    font-size: 40px;
    color: white;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid white;
    box-sizing: border-box;
    background: var(--divaPink);
    cursor: pointer;
  }
  .btnSocial {
    width: 80px;
    height: 80px;
    margin: 0 20px 0 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  /*..................................................................................................................*/
  /* CAROUSEL */

  #vignette {
    width: 100%;
    height: calc(100% - 540px); /* 540px = #logo:150px + .btnMenu:80px * 3 + #social:150px */
    box-shadow: 0px -80px 200px 50px inset;
    position: absolute;
  }
  #imageCarousel {
    width: 100%;
    height: calc(100% - 540px); /* 540px = #logo:150px + .btnMenu:80px * 3 + #social:150px */
    display: flex;
    overflow: hidden;
  }
  #textCarousel {
    width: 100%;
    height: 150px;
    display: flex;
    overflow: hidden;
    position: absolute;
    font-size: 40px;
    transform: translateY(-260px);
  }
  .mark {
    width: 260px;
    height: 50px;
    float: right;
    background-size: contain;
    background-position: center;
    background-color: var(--divaPink);
    transform: translate(3vh, 3vh);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
    border: 25px solid white;
    border-color: rgba(0,0,0,0) white rgba(0,0,0,0) rgba(0,0,0,0);
  }
  .imgCrslBox {
    align-items: center;
    justify-content: center;
  }
  .txtCrslBox {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .imgCrslBox,
  .txtCrslBox {
    min-width: 80%;
    height: 100%;
    transition: var(--transitCarousel);
    display: flex;
  }
  .imgCrslFrm {
    width: 90%;
    height: 60%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50px);
  }
  .txtCrslFrm {
    width: 45%;
    height: 90%;
    background: var(--divaPink);
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px 0 40px;
  }

  /*..................................................................................................................*/
  /* ABOUT */

  #about {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: black;
  }
  #aboutTitle {
    width: 50%;
    height: var(--titleHeight);
    display: flex;
    align-items: center;
    font-size: var(--titleFontSize);
  }
  #aboutText {
    width: 50%;
    font-size: 30px;
  }

  /*..................................................................................................................*/
  /* ACCORDION */

  #accordion {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
  }
  #accordionBox {
    width: 80%;
    height: 80%;
  }
  #accordionTitle {
    width: 100%;
    height: var(--titleHeight);
    font-size: var(--titleFontSize);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #accordionPart5,
  #accordionPart6 {
    background-position: top;
  }
  .accordionPart {
    width: 100%;
    height: 10%;
    transition: var(--transitCommon);
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  .accordionText {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    transition: var(--transitCommon);
    padding-left: 30px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, black, rgba(0,0,0,0));
  }

  /*..................................................................................................................*/
  /* GALLERY */

  .galleryBox {
    width: 52vh;
    height: 78vh;
  }
  .galleryPart {
    width: 25vh;
    height: 25vh;
  }

  /*..................................................................................................................*/
  /* STAR */

  #starBallM {
    margin-top: 69px;
  }

  /*..................................................................................................................*/
  /* INDUSTRY */

  #industry {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #industryTitle {
    width: 100%;
    height: var(--titleHeight);
    font-size: var(--titleFontSize);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #industryCarousel {
    width: 80%;
    height: 50%;
    display: flex;
    overflow-x: hidden;
  }
  #industryVignette {
    width: 80%;
    height: 50%;
    position: absolute;
    box-shadow: 0 0 30px 0 inset;
  }
  .indCrslBox {
    min-width: 100%;
    height: 100%;
    transition: all 2s;
  }
  .indCrslFrm {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /*..................................................................................................................*/
  /* CLIENTS */

  #clients {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  #clientsTitle {
    width: 100%;
    height: var(--titleHeight);
    font-size: var(--titleFontSize);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  #clientsBox {
    width: 90%;
    height: 60%;
    background-color: rgba(255,255,255,0.1);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--radiusPortrait);
  }

  /*..................................................................................................................*/
  /* CONTACT */

  #contact {
    width: 100%;
    height: 100%;
    background: #FF004A;
    color: var(--divaPink);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #contactTitle {
    width: 100%;
    height: var(--titleHeight);
    font-size: var(--titleFontSize);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contactBox {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    background: white;
    border-radius: var(--radiusPortrait);
  }
  .contactSection {
    height: 20%;
    display: flex;
    align-items: center;
  }
  .contactIcon {
    min-width: 40px;
    height: 40px;
    margin: 0 20px 0 40px;
    background-size: contain;
    background-position: center;
  }
  a {
    color: var(--divaPink);
  }

  /*..................................................................................................................*/
  /* NEWSLETTER */

  #newsletter {
    width: 100%;
    height: calc(100% - 150px);
    background: #FF004A;
    overflow-x: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  #dog {
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto 60%;
  }
  #signup {
    width: 50%;
    position: absolute;
    color: white;
  }
  #signupTitle {
    font-size: 70px;
    font-weight: bold;
    margin-top: 20%;
  }
  #signupSubtitle {
    font-size: 40px;
  }
  #signupEmail {
    width: 100%;
    height: 70px;
    font-size: 30px;
    border-radius: 20px 0 0 0;
    border: 0;
    margin-top: 10%;
    padding: 0 20px 0 20px;
    transition: all 0.2s;
  }
  #signupConfirm {
    width: 100%;
    height: 70px;
    font-size: 30px;
    border-radius: 0 0 20px 0;
    color: black;
    display: flex;
    align-items: center;
    background: darkorange;
    padding: 0 20px 0 20px;
  }
  #signupImage {
    width: 100%;
    height: 80px;
    background-size: auto 80%;
    background-position: center right;
    background-repeat: no-repeat;
  }
  #newsWIP {
    width: 100%;
    height: 70px;
    font-size: 30px;
    color: black;
    display: flex;
    align-items: center;
    background: white;
    padding: 0 20px 0 20px;
    margin-top: 30px;
  }

  /*..................................................................................................................*/
  /* FOOTER */

  #footer {
    width: 100%;
    height: 150px;
    color: white;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #footerInner {
    font-size: 25px;
    padding: 0 5vw 0 5vw;
  }

  /*..................................................................................................................*/
  /* IMAGES */

  #logo {background-image: url("../images/logo.png")}
  #btnSocial0 {background-image: url("../images/linkedin.png")}
  #btnSocial1 {background-image: url("../images/facebook.png")}
  #btnSocial2 {background-image: url("../images/instagram.png")}

  #imgCrslFrm0 {background-image: url("../images/portrait/carousel0.jpg")}
  #imgCrslFrm1 {background-image: url("../images/portrait/carousel1.jpg")}
  #imgCrslFrm2 {background-image: url("../images/portrait/carousel2.jpg")}
  #imgCrslFrm3 {background-image: url("../images/portrait/carousel3.jpg")}
  #imgCrslFrm4 {background-image: url("../images/portrait/carousel4.jpg")}
  #imgCrslFrm5 {background-image: url("../images/portrait/carousel5.jpg")}

  #about {background-image: url("../images/portrait/aboutBack.jpg")}

  #accordion {background-image: url("../images/portrait/accordionBack.jpg")}
  #accordionPart0 {background-image: url("../images/portrait/accordion0.jpg")}
  #accordionPart1 {background-image: url("../images/portrait/accordion1.jpg")}
  #accordionPart2 {background-image: url("../images/portrait/accordion2.jpg")}
  #accordionPart3 {background-image: url("../images/portrait/accordion3.jpg")}
  #accordionPart4 {background-image: url("../images/portrait/accordion4.jpg")}
  #accordionPart5 {background-image: url("../images/portrait/accordion5.jpg")}
  #accordionPart6 {background-image: url("../images/portrait/accordion6.jpg")}
  #accordionPart7 {background-image: url("../images/portrait/accordion7.jpg")}

  #industry {background-image: url("../images/portrait/industryBack.jpg")}
  #indCrslFrm0 {background-image: url("../images/portrait/industry0.jpg")}
  #indCrslFrm1 {background-image: url("../images/portrait/industry1.jpg")}
  #indCrslFrm2 {background-image: url("../images/portrait/industry2.jpg")}
  #indCrslFrm3 {background-image: url("../images/portrait/industry3.jpg")}
  #indCrslFrm4 {background-image: url("../images/portrait/industry4.jpg")}
  #indCrslFrm5 {background-image: url("../images/portrait/industry5.jpg")}
  #indCrslFrm6 {background-image: url("../images/portrait/industry6.jpg")}

  #clients {background-image: url("../images/portrait/clientsBack.jpg")}
  #clientsBox {background-image: url("../images/portrait/clients.png")}

  #contactIcon0 {background-image: url("../images/contactIcon0.png")}
  #contactIcon1 {background-image: url("../images/contactIcon1.png")}
  #contactIcon2 {background-image: url("../images/contactIcon2.png")}
  #contactIcon3 {background-image: url("../images/contactIcon3.png")}

  #dog {background-image: url("../images/dog.jpg")}
  #signupImage {background-image: url("../images/email.png")}
}
