@media screen and (orientation: portrait)
{
  /*..................................................................................................................*/
  /* TOP */

  #top {
    width: 100%;
    height: 0;
    position: absolute;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    font-size: 0;
    transition: var(--transitCommon);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  #topArrow {
    width: 40px;
    height: 40px;
    border: 20px solid white;
    border-color: rgba(0,0,0,0) rgba(0,0,0,0) white rgba(0,0,0,0);
    box-sizing: border-box;
  }

  /*..................................................................................................................*/
  /* HEADER */

  #header {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #logo {
    width: 100%;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
  }
  #menu {
    width: 100%;
  }
  #social {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #btnMenu0,
  #btnMenu2,
  #btnMenu4,
  #btnMenu6 {
    border-left: 0;
    border-radius: 0 var(--radiusPortrait) var(--radiusPortrait) 0;
  }
  #btnMenu1,
  #btnMenu3,
  #btnMenu5,
  #btnMenu7 {
    border-right: 0;
    border-radius: var(--radiusPortrait) 0 0 var(--radiusPortrait);
  }
  .menuSpace {
    display: none;
  }
  .btnMenu {
    width: 50%;
    height: 80px;
    font-size: 40px;
    color: white;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid white;
    box-sizing: border-box;
    background: var(--divaPink);
    cursor: pointer;
  }
  .btnSocial {
    width: 80px;
    height: 80px;
    margin: 0 20px 0 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  /*..................................................................................................................*/
  /* CAROUSEL */

  #vignette {
    width: 100%;
    height: calc(100% - 540px); /* 540px = #logo:150px + .btnMenu:80px * 3 + #social:150px */
    box-shadow: 0px -80px 200px 50px inset;
    position: absolute;
  }
  #imageCarousel {
    width: 100%;
    height: calc(100% - 540px); /* 540px = #logo:150px + .btnMenu:80px * 3 + #social:150px */
    display: flex;
    overflow: hidden;
  }
  #textCarousel {
    width: 100%;
    height: 150px;
    display: flex;
    overflow: hidden;
    position: absolute;
    font-size: 40px;
    transform: translateY(-260px);
  }
  .mark {
    width: 260px;
    height: 50px;
    float: right;
    background-size: contain;
    background-position: center;
    background-color: var(--divaPink);
    transform: translate(3vh, 3vh);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    box-sizing: border-box;
    border: 25px solid white;
    border-color: rgba(0,0,0,0) white rgba(0,0,0,0) rgba(0,0,0,0);
  }
  .imgCrslBox {
    align-items: center;
    justify-content: center;
  }
  .txtCrslBox {
    align-items: flex-end;
    justify-content: flex-end;
  }
  .imgCrslBox,
  .txtCrslBox {
    min-width: 80%;
    height: 100%;
    transition: var(--transitCarousel);
    display: flex;
  }
  .imgCrslFrm {
    width: 90%;
    height: 60%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translateY(-50px);
  }
  .txtCrslFrm {
    width: 45%;
    height: 90%;
    background: var(--divaPink);
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px 0 40px;
  }

  /*..................................................................................................................*/
  /* ABOUT */

  #about {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  #aboutTitle {
    width: 50%;
    height: var(--titleHeight);
    display: flex;
    align-items: center;
    font-size: var(--titleFontSize);
  }
  #aboutText {
    width: 50%;
    font-size: 30px;
  }

  /*..................................................................................................................*/
  /* ACCORDION */

  #accordion {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
  }
  #accordionBox {
    width: 80%;
    height: 80%;
  }
  #accordionTitle {
    width: 100%;
    height: var(--titleHeight);
    font-size: var(--titleFontSize);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #accordionPart5,
  #accordionPart6 {
    background-position: top;
  }
  .accordionPart {
    width: 100%;
    height: 10%;
    transition: var(--transitCommon);
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  .accordionText {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    transition: var(--transitCommon);
    padding-left: 30px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, black, rgba(0,0,0,0));
  }


  /*..................................................................................................................*/
  /* GALLERY */

  #gallery {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    display: none;
    position: absolute;
    transition: var(--transitCommon);
    align-items: center;
    justify-content: center;
  }
  .galleryBox {
    width: 620px;
    height: 930px;
  }
  .galleryPart {
    width: 300px;
    height: 300px;
    float: left;
    margin: 0 10px 10px 0;
    background: green;
  }

  /*..................................................................................................................*/
  /* INDUSTRY */

  #industry {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #industryTitle {
    width: 100%;
    height: var(--titleHeight);
    font-size: var(--titleFontSize);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #industryCarousel {
    width: 80%;
    height: 50%;
    display: flex;
    overflow-x: hidden;
  }
  #industryVignette {
    width: 80%;
    height: 50%;
    position: absolute;
    box-shadow: 0 0 30px 0 inset;
  }
  .indCrslBox {
    min-width: 100%;
    height: 100%;
    transition: all 2s;
  }
  .indCrslFrm {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /*..................................................................................................................*/
  /* CLIENTS */

  #clients {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  #clientTitle {
    width: 100%;
    height: var(--titleHeight);
    font-size: var(--titleFontSize);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  #clientBox {
    width: 610px;
    height: 2470px;
    margin-bottom: 200px;
  }
  #client0,
  #client2,
  #client4,
  #client6,
  #client8,
  #client10,
  #client12,
  #client14 {
    margin-right: 10px;
  }
  #client0,
  #client1,
  #client2,
  #client3,
  #client4,
  #client5,
  #client6,
  #client7,
  #client8,
  #client9,
  #client10,
  #client11,
  #client12,
  #client13 {
    margin-bottom: 10px;
  }
  .client {
    width: 300px;
    height: 300px;
    float: left;
    background-size: cover;
    background-position: center;
    -webkit-user-select: none; /* Chrome & Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
     user-select: none; /* Likely future */
  }
  .clientLogoBox {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    transition: var(--transitCommon);
  }
  .clientLogo {
    width: 100%;
    height: 100%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    transition: var(--transitCommon);
  }
  .clientName {
    width: 100px;
    height: 40px;
    font-size: 30px;
    transform: translateY(-130px);
    background: darkorange;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transitCommon);
    position: absolute;
    opacity: 0;
    white-space: nowrap;
  }

  /*..................................................................................................................*/
  /* CONTACT */

  #contact {
    width: 100%;
    height: 100%;
    background: #FF004A;
    color: var(--divaPink);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #contactTitle {
    width: 100%;
    height: var(--titleHeight);
    font-size: var(--titleFontSize);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #contactBox {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    background: white;
    border-radius: var(--radiusPortrait);
  }
  .contactSection {
    height: 20%;
    display: flex;
    align-items: center;
  }
  .contactIcon {
    min-width: 40px;
    height: 40px;
    margin: 0 20px 0 40px;
    background-size: contain;
    background-position: center;
  }
  a {
    color: var(--divaPink);
  }

  /*..................................................................................................................*/
  /* NEWSLETTER */

  #newsletter {
    width: 100%;
    height: calc(100% - 150px);
    background: #FF004A;
    overflow-x: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  #dog {
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto 60%;
  }
  #signup {
    width: 50%;
    position: absolute;
    color: white;
  }
  #signupTitle {
    font-size: 70px;
    font-weight: bold;
    margin-top: 20%;
  }
  #signupSubtitle {
    font-size: 40px;
  }
  #signupEmail {
    width: 100%;
    height: 70px;
    font-size: 30px;
    border-radius: 20px 0 0 0;
    border: 0;
    margin-top: 10%;
    padding: 0 20px 0 20px;
    transition: all 0.2s;
  }
  #signupConfirm {
    width: 100%;
    height: 70px;
    font-size: 30px;
    border-radius: 0 0 20px 0;
    color: black;
    display: flex;
    align-items: center;
    background: darkorange;
    padding: 0 20px 0 20px;
  }
  #signupImage {
    width: 100%;
    height: 80px;
    background-size: auto 80%;
    background-position: center right;
    background-repeat: no-repeat;
  }
  #newsWIP {
    width: 100%;
    height: 70px;
    font-size: 30px;
    color: black;
    display: flex;
    align-items: center;
    background: white;
    padding: 0 20px 0 20px;
    margin-top: 30px;
  }

  /*..................................................................................................................*/
  /* FOOTER */

  #footer {
    width: 100%;
    height: 150px;
    color: white;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #footerInner {
    font-size: 25px;
    padding: 0 5vw 0 5vw;
  }

  /*..................................................................................................................*/
  /* IMAGES */

  #logo {background-image: url("../images/logo.png")}
  #btnSocial0 {background-image: url("../images/linkedin.png")}
  #btnSocial1 {background-image: url("../images/facebook.png")}
  #btnSocial2 {background-image: url("../images/instagram.png")}

  #imgCrslFrm0 {background-image: url("../images/portrait/carousel0.jpg")}
  #imgCrslFrm1 {background-image: url("../images/portrait/carousel1.jpg")}
  #imgCrslFrm2 {background-image: url("../images/portrait/carousel2.jpg")}
  #imgCrslFrm3 {background-image: url("../images/portrait/carousel3.jpg")}
  #imgCrslFrm4 {background-image: url("../images/portrait/carousel4.jpg")}
  #imgCrslFrm5 {background-image: url("../images/portrait/carousel5.jpg")}

  #about {background-image: url("../images/portrait/aboutBack.jpg")}

  #accordion {background-image: url("../images/portrait/accordionBack.jpg")}
  #accordionPart0 {background-image: url("../images/portrait/accordion0.jpg")}
  #accordionPart1 {background-image: url("../images/portrait/accordion1.jpg")}
  #accordionPart2 {background-image: url("../images/portrait/accordion2.jpg")}
  #accordionPart3 {background-image: url("../images/portrait/accordion3.jpg")}
  #accordionPart4 {background-image: url("../images/portrait/accordion4.jpg")}
  #accordionPart5 {background-image: url("../images/portrait/accordion5.jpg")}
  #accordionPart6 {background-image: url("../images/portrait/accordion6.jpg")}
  #accordionPart7 {background-image: url("../images/portrait/accordion7.jpg")}

  #galleryPart00 {background-image: url("../images/portrait/gallery00.jpg")}
  #galleryPart01 {background-image: url("../images/portrait/gallery01.jpg")}
  #galleryPart02 {background-image: url("../images/portrait/gallery02.jpg")}

  #galleryPart10 {background-image: url("../images/portrait/gallery10.jpg")}
  #galleryPart11 {background-image: url("../images/portrait/gallery11.jpg")}
  #galleryPart12 {background-image: url("../images/portrait/gallery12.jpg")}
  #galleryPart13 {background-image: url("../images/portrait/gallery13.jpg")}
  #galleryPart14 {background-image: url("../images/portrait/gallery14.jpg")}
  #galleryPart15 {background-image: url("../images/portrait/gallery15.jpg")}

  #galleryPart20 {background-image: url("../images/portrait/gallery20.jpg")}
  #galleryPart21 {background-image: url("../images/portrait/gallery21.jpg")}
  #galleryPart22 {background-image: url("../images/portrait/gallery22.jpg")}
  #galleryPart23 {background-image: url("../images/portrait/gallery23.jpg")}
  #galleryPart24 {background-image: url("../images/portrait/gallery24.jpg")}
  #galleryPart25 {background-image: url("../images/portrait/gallery25.jpg")}

  #galleryPart30 {background-image: url("../images/portrait/gallery30.jpg")}
  #galleryPart31 {background-image: url("../images/portrait/gallery31.jpg")}
  #galleryPart32 {background-image: url("../images/portrait/gallery32.jpg")}
  #galleryPart33 {background-image: url("../images/portrait/gallery33.jpg")}
  #galleryPart34 {background-image: url("../images/portrait/gallery34.jpg")}
  #galleryPart35 {background-image: url("../images/portrait/gallery35.jpg")}

  #galleryPart50 {background-image: url("../images/portrait/gallery50.jpg")}
  #galleryPart51 {background-image: url("../images/portrait/gallery51.jpg")}
  #galleryPart52 {background-image: url("../images/portrait/gallery52.jpg")}
  #galleryPart53 {background-image: url("../images/portrait/gallery53.jpg")}
  #galleryPart54 {background-image: url("../images/portrait/gallery54.jpg")}
  #galleryPart55 {background-image: url("../images/portrait/gallery55.jpg")}

  #galleryPart60 {background-image: url("../images/portrait/gallery60.jpg")}
  #galleryPart61 {background-image: url("../images/portrait/gallery61.jpg")}
  #galleryPart62 {background-image: url("../images/portrait/gallery62.jpg")}
  #galleryPart63 {background-image: url("../images/portrait/gallery63.jpg")}
  #galleryPart64 {background-image: url("../images/portrait/gallery64.jpg")}
  #galleryPart65 {background-image: url("../images/portrait/gallery65.jpg")}

  #galleryPart70 {background-image: url("../images/portrait/gallery70.jpg")}
  #galleryPart71 {background-image: url("../images/portrait/gallery71.jpg")}
  #galleryPart72 {background-image: url("../images/portrait/gallery72.jpg")}
  #galleryPart73 {background-image: url("../images/portrait/gallery73.jpg")}
  #galleryPart74 {background-image: url("../images/portrait/gallery74.jpg")}
  #galleryPart75 {background-image: url("../images/portrait/gallery75.jpg")}

  #industry {background-image: url("../images/portrait/industryBack.jpg")}
  #indCrslFrm0 {background-image: url("../images/portrait/industry0.jpg")}
  #indCrslFrm1 {background-image: url("../images/portrait/industry1.jpg")}
  #indCrslFrm2 {background-image: url("../images/portrait/industry2.jpg")}
  #indCrslFrm3 {background-image: url("../images/portrait/industry3.jpg")}
  #indCrslFrm4 {background-image: url("../images/portrait/industry4.jpg")}
  #indCrslFrm5 {background-image: url("../images/portrait/industry5.jpg")}
  #indCrslFrm6 {background-image: url("../images/portrait/industry6.jpg")}

  #clients {background-image: url("../images/portrait/clientsBack.jpg")}
  #client0 {background-image: url("../images/portrait/client0.jpg")}
  #client1 {background-image: url("../images/portrait/client1.jpg")}
  #client2 {background-image: url("../images/portrait/client2.jpg")}
  #client3 {background-image: url("../images/portrait/client3.jpg")}
  #client4 {background-image: url("../images/portrait/client4.jpg")}
  #client5 {background-image: url("../images/portrait/client5.jpg")}
  #client6 {background-image: url("../images/portrait/client6.jpg")}
  #client7 {background-image: url("../images/portrait/client7.jpg")}
  #client8 {background-image: url("../images/portrait/client8.jpg")}
  #client9 {background-image: url("../images/portrait/client9.jpg")}
  #client10 {background-image: url("../images/portrait/client10.jpg")}
  #client11 {background-image: url("../images/portrait/client11.jpg")}
  #client12 {background-image: url("../images/portrait/client12.jpg")}
  #client13 {background-image: url("../images/portrait/client13.jpg")}
  #client14 {background-image: url("../images/portrait/client14.jpg")}
  #client15 {background-image: url("../images/portrait/client15.jpg")}

  #client0Logo {background-image: url("../images/portrait/client0Logo.png")}
  #client1Logo {background-image: url("../images/portrait/client1Logo.png")}
  #client2Logo {background-image: url("../images/portrait/client2Logo.png")}
  #client3Logo {background-image: url("../images/portrait/client3Logo.png")}
  #client4Logo {background-image: url("../images/portrait/client4Logo.png")}
  #client5Logo {background-image: url("../images/portrait/client5Logo.png")}
  #client6Logo {background-image: url("../images/portrait/client6Logo.png")}
  #client7Logo {background-image: url("../images/portrait/client7Logo.png")}
  #client8Logo {background-image: url("../images/portrait/client8Logo.png")}
  #client9Logo {background-image: url("../images/portrait/client9Logo.png")}
  #client10Logo {background-image: url("../images/portrait/client10Logo.png")}
  #client11Logo {background-image: url("../images/portrait/client11Logo.png")}
  #client12Logo {background-image: url("../images/portrait/client12Logo.png")}
  #client13Logo {background-image: url("../images/portrait/client13Logo.png")}
  #client14Logo {background-image: url("../images/portrait/client14Logo.png")}
  #client15Logo {background-image: url("../images/portrait/client15Logo.png")}

  #contactIcon0 {background-image: url("../images/contactIcon0.png")}
  #contactIcon1 {background-image: url("../images/contactIcon1.png")}
  #contactIcon2 {background-image: url("../images/contactIcon2.png")}
  #contactIcon3 {background-image: url("../images/contactIcon3.png")}

  #dog {background-image: url("../images/dog.jpg")}
  #signupImage {background-image: url("../images/email.png")}
}
